body {
	background-color: #EEEEEE;
}

.pink-bg {
	background-color: #110022;
	color: #FFF;
}

.highlight {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.highlight:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

